doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href="/stylesheets/uploadfile.min.css")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(type="text/javascript", src="/javascripts/jquery.uploadfile.min.js")
		script(type="text/javascript", src="/javascripts/main.js")
	body
		div(id="UploadFileToNewKanvasSession", align="center")
			| Upload File

